<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> %(cltpt/base:document-title (getf cltpt/base:*convert-info* :text-obj)) </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="static/main.css">
  <script src="static/main.js" defer></script>
</head>
<body class="dark-theme">
  #(cltpt/publish:template-file-to-template-obj "header.html")

  <article class="container">
    <h1> %(cltpt/base:document-title (getf cltpt/base:*convert-info* :text-obj)) </h1>
    %(getf cltpt/base:*convert-info* :text-obj)
  </article>

  #(cltpt/publish:template-file-to-template-obj "footer.html")
</body>
</html>